@import "countdown.css";
@import "quiz.css";
@import "receipt.css";

.background {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;

  z-index: -5;
}

a {
  text-decoration: none;
}
